version: 2.1

orbs:
  dmz: eddiewebb/dmz@volatile

jobs:
  build: #this job uses a *public* key file within the repo to be explicitly trusted
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - dmz/open_tunnel:
          local_port: "9001"
          target_host: artifactory.corp.mendeley.com
          target_port: "443"
          bastion_user: circleci
          bastion_host: ec2-54-74-253-224.eu-west-1.compute.amazonaws.com
          bastion_public_key: $sutd_circleci_jumphost
   # and simply confirm that accessing local port resolves the target (in this case an HTTP server)
      - run:
          name: Upgrade curl
          command: |
            sudo  apt remove curl \
            && sudo apt purge curl \
            && sudo apt-get update \
            && sudo apt-get install -y libssl-dev autoconf libtool make \
            && cd /usr/local/src \
            && sudo rm -rf curl* \
            && sudo wget https://curl.haxx.se/download/curl-7.70.0.zip \
            && sudo unzip curl-7.70.0.zip \
            && cd curl-7.70.0 \
            && sudo ./buildconf \
            && sudo autoreconf --install \
            && sudo ./configure --with-ssl \
            && sudo make \
            && sudo make install \
            && sudo cp /usr/local/bin/curl /usr/bin/curl \
            && echo 'export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH' >> $BASH_ENV
      - run:
          name: Update host file
          command: |
            echo '127.0.0.1 artifactory.corp.mendeley.com' | sudo tee -a /etc/hosts \
            && cat /etc/hosts
#      - run: curl -k --tlsv1.2 https://artifactory.corp.mendeley.com:9001/artifactory/webapp/#/home
      - run: openssl s_client -cipher ALL -servername artifactory.corp.mendeley.com -connect artifactory.corp.mendeley.com:443

workflows:
  test_all:
    jobs:
    - build
