version: 2.1

orbs:
  dmz: eddiewebb/dmz@volatile

jobs:
  build: #this job uses a *public* key file within the repo to be explicitly trusted
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - dmz/open_tunnel:
          local_port: "9001"
          target_host: artifactory.corp.mendeley.com
          target_port: "443"
          bastion_user: centos
          bastion_host: ec2-54-74-253-224.eu-west-1.compute.amazonaws.com
          bastion_public_key: $sutd_circleci_jumphost
   # and simply confirm that accessing local port resolves the target (in this case an HTTP server)
      - run: curl localhost:9001


workflows:
  test_all:
    jobs:
    - build
